################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/VectoInterview/.vs/VectoInterview
/src/VectoInterview/bin
/src/VectoInterview/obj
